---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import type { Post } from '~/types'
import { formatDate, getPosts } from '~/utils'

const posts = await getPosts(true)

const yearMap = getYearMap(posts)

interface ListItem {
  title: string
  href: string
  date: string
}

function getYearMap(posts: Post[]) {
  const result = new Map<number, ListItem[]>()
  for (const post of posts) {
    const year = (post.data.pubDate ?? new Date()).getFullYear()
    const posts = result.get(year) ?? []
    posts.push(getListItem(post))
    result.set(year, posts)
  }
  return Array.from(result.entries())
}

function getListItem(post: Post): ListItem {
  return {
    title: post.data.title,
    href: `/posts/${post.id}/`,
    date: formatDate(post.data.pubDate, 'MM-DD'),
  }
}
---

<LayoutDefault>
  <div class="archive-wrap" flex="~ col gap-5">
    {
      yearMap.map(([year, posts]) => (
        <section class="archive-year-block post-card">
          <h2 class="archive-year">{year}</h2>
          <ul class="archive-list" flex="~ col gap-2">
            {posts.map(({ title, href, date }) => (
              <li class="archive-item" flex="~ row justify-between items-start gap-3">
                <a class="archive-title" href={href}>{title}</a>
                <time class="archive-date text-sm opacity-65">{date}</time>
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </div>
</LayoutDefault>
