---
const { translate: t } = Astro.locals

interface Props {
  showLeft?: boolean
  leftTitle?: string
  leftUrl?: string

  showRight?: boolean
  rightTitle?: string
  rightUrl?: string

  showPageCount?: boolean
  currentPage?: number
  totalPage?: number
}

const {
  showLeft = true,
  showRight = true,
  leftTitle,
  rightTitle,
  leftUrl,
  rightUrl,
  showPageCount = true,
  currentPage,
  totalPage,
} = Astro.props
---

<footer class="pagination-wrap mt-6">
  {
    showPageCount && (
      <div class="pagination-count mb-3 text-sm opacity-70">
        {t('page_number', currentPage)} / {t('page_count', totalPage)}
      </div>
    )
  }
  <div class="pagination-row flex items-center gap-2 flex-wrap">
    {
      showLeft && (
        <a class="pagination-btn" title={leftTitle} href={leftUrl}>
          <span class="inline-block vertical-mid i-mdi-chevron-double-left w-4 h-4" />
          {leftTitle}
        </a>
      )
    }
    {
      showRight && (
        <a class="pagination-btn" title={rightTitle} href={rightUrl}>
          {rightTitle}
          <span class="inline-block vertical-mid i-mdi-chevron-double-right w-4 h-4" />
        </a>
      )
    }
  </div>
</footer>
