---
import { themeConfig } from '~/.config'

const { navLinks, socialLinks } = themeConfig.site
const { translate: t } = Astro.locals
---

<nav class="site-nav" flex="~ col gap-4">
  <ul class="nav-links" flex="~ row gap-2 wrap justify-center" lg="justify-start">
    {
      navLinks.map((nav) => (
        <li>
          <a class="nav-pill" href={nav.href}>
            {t(nav.name)}
          </a>
        </li>
      ))
    }
  </ul>

  <ul class="social-links" flex="~ row gap-2 justify-center" lg="justify-start">
    {
      socialLinks.map(({ href, name }) => (
        <li>
          <a href={href} target="_blank" title={name} class="social-link not-underline-hover inline-flex items-center">
            <span class:list={[`mdi mdi-${name}`, 'text-xl']}></span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
